<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="dtUser" value="jh2021_ep"/>
      <add key="dtPass" value="1007revolorio2001"/>

      <add key="keyCode" value="ftmq41e3514weu07"/>
    </appSettings>
</configuration>
